html, body {
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.navbar {
	background: rgba(55, 94, 4, 0.5);
	font-size: 1.2em;
	padding: 22px 8px;
}

.navbar-brand {
	font-color: #FFF;
	font-size: 37px;
	padding-top: 22px;
	padding-left: 20px;
	transition: .3s;
}

.navbar-brand.shrink {
	min-height: 35px;
	font-size: 33px;
	padding-top: 12px;
}

.navbar-right {
	padding-right: 20px;
}

.navbar .navbar-brand, .navbar .navbar-brand:visited {
	color: #FDFEFE;
}

.navbar .navbar-brand:hover {
	color: #FDFEFE;
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-nav li a {
	transition: .3s;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	text-align: center;
}

.navbar-default .navbar-nav.shrink li a {
	padding-top: 13px;
	padding-bottom: 13px;
	color: #FFF;
}

.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:visited {
	color: #FFF;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav.shrink li a:hover,
.navbar-default .navbar-nav.shrink li a:hover {
	text-decoration: underline;
	color: #FFF;
}

.navbar-toggle {
	margin-top: 16px;
	margin-bottom: 20px;
}

.navbar-toggle.shrink {
	margin-top: 7px;
	margin-bottom: 11px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}

#home {
	background: url(img/macbook.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#whoami {
	color: #cdd0d7;
	text-shadow: 2px 2px 0 grey;
}

#mypic {
	width: 270px;
	height: 270px;
	border-radius: 50%;
	border: 4px solid #fff;
	box-shadow: 2px 2px 0 grey;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1 {
	font-size: 400%;
	font-weight: 700;
}

#about {
	padding-top: 20px;
	padding-bottom: 285px;
}

#about-paragraph {
	font-size: 22px;
	padding: 44px 62px;
}

.padding {
	padding: 50px 0;
}

.padding img {
	width: 100%;
}

#fixed {
	background: url(img/background.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#side-project {
	display: inline-block;
}

.project-img-box {
	height: 220px;
	width: 360px;
	float: left;
}

#project-info {
	height: 220px;
	width: 360px;
	float: right;
}

.project-img {
	box-shadow: 10px 10px 5px grey;
	border: 1px solid #000;
	transition: 0.3s ease;
}

.project-img:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
}

.project-modal {
	color: #fff;
	border: none;
}

#project-info-odd {
	padding-left: 50px;
	float: right;
}

#project-info-even {
	float: left;
}

footer {
	width: 100%;
	background-color: #23415C;
	padding: 30px 0;
	color: #FFF;
}

.center {
	margin: auto;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: #FFF;
}

.fa:hover {
	color: #FFF;
	text-decoration: none;
}

.icon {
	max-width: 200px;
}

@media (max-width: 911px) {
	#mypic {
		width: 250px;
		height: 250px;
	}
}

@media (max-width: 768px) {
	.navbar-brand, .navbar-brand.shrink {
		font-size: 30px;
	}
	#home {
		background: url(img/macbook-small.jpg) no-repeat center center fixed;
		display: table;
		height: 100%;
		position: relative;
		width: 100%;
		background-size: cover;
	}
	.landing-text h1 {
		font-size: 300%;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	.icon {
		padding-top: 5%;
		max-width: 100px;
	}
	#mypic {
		width: 230px;
		height: 230px;
	}
	.project-img-box {
		float: none;
		height: 330px;
		width: 540px;
		margin: auto;
		margin-bottom: 90px;
	}
	#project-info {
		float: none;
		margin: auto;
	}
}

@media (max-width: 614px) {
	.navbar-brand, .navbar-brand.shrink {
		font-size: 26px;
	}
	#home {
		background: url(img/macbook-tiny.jpg) no-repeat center center fixed;
		display: table;
		height: 100%;
		position: relative;
		width: 100%;
		background-size: cover;
	}
	.project-img-box {
		height: 240px;
		width: 370px;
	}
	.landing-text h2 {
		font-size: 180%;
	}
}

@media (max-width: 388px) {
	#home {
		background: url(img/macbook-teeny.jpg) no-repeat center center fixed;
		display: table;
		height: 100%;
		position: relative;
		width: 100%;
		background-size: cover;
	}
	.project-img-box {
		height: 200px;
		width: 290px;
		padding-left: 10px;
	}
	#project-info {
		width: 280px;
		margin: auto;
	}
}







